<div class="row"> 
    <div class="col-md-4 col-md-offset-4">
        <h1>Add new product </h1>
 

        <form  action="/addProduct" method="post">
            
            <div class="form-group">
                <label for="title"> Title</label>
                <input type="text" id="title" name="title" class="form-control">
            </div>

            <div class="form-group">
                <label for="image"> Image URL</label>
                <input type="text" id="image" name="image" class="form-control">
            </div>

            <div class="form-group">
                <label for="price"> Price</label>
                <input type="text" id="price" name="price" class="form-control">
            </div>

            <div class="form-group">
                <label for="desc">Description</label>
                <textarea class="form-control"  type="text" id="desc" name="desc" rows="3"></textarea>
              </div>

            <button type="submit" class="btn-primary">Add</button>
        </form>
        
        
    </div>
</div>

